body {
    text-align: center;
    background: #324344;
    color: #fff;
    
}

h2{
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
}

ul li{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}